@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    font-family:'Inter';
}

.leftCol{
    background-color: #101727;
    height: 100vb;
    width: 12% !important;
}

.rightCol{
    background-color: #efefef;
    width: 88% !important;
}

.violetMark{
    color: #400DD0;
}

.violetText{
    color: #400DD0;
    font-weight: 650;
    font-size: 48px;
}

.adminMenuLinks{
    color: #a4a9b6;
    margin: 10px;
}

.adminMenuLinkSelected{
    background-color: #1a2130;
}

.adminMenuLinks:hover{
    background-color: #1a2130;

}

.menuIcon{
    color: gray;
}

.menuIconClicked{
    color: black;
}

.menuIcon:hover{
    color: #400DD0;
}

a{
    text-decoration: none;
}

.menuAvatar{
    width: 45px;
}

.viewButton{
    background-color: rgba(64, 13, 208, 0.13);
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-decoration: none;
    color: #400DD0;
    font-size: 15px;
    font-weight: 500;
}

.categoryTitle div{
    width: 60px;
    height: 60px;
    background-color: #400DD0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 20px;
    margin-right: 10px;
}

.categoryTitle h4{
    color: gray;
}

.bi-eye-fill{
    font-size: 20px;
    color: #400DD0;
    text-align: center;
    margin-right: 5px;
}

.statsboxPlace{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgba(64, 13, 208, 0.13);
}

.statsBox{
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 30px;
    margin-right: 40px;
}

.statsBox:last-child{
    margin-right: 0px;
}

.statsboxIcon div{
    width: 60px;
    height: 60px;
    background-color: rgba(64, 13, 208, 0.13);
    color: #400DD0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 20px;
}

.statsboxIcon h4{
    color: gray;
}


.statsboxIcon{
    height: 60px;
}

.bottom-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #400dd0;
    color: #fff;
    padding: 20px 0;
}

.adminAddButton{
    background-color:#979797 !important;
    padding: 7px;
    width: 150px;
    border-radius: 22px;
}

.adminDataColumns{
    height: 80%;
}

.adminInput{
    border: 1px solid #C6C6C6 !important;
    border-radius: 15px !important;
}

.adminAddOfferSpecial{
    background-color: #400DD0;
    color: white;
}

.errorClass{
    border: 1px solid red !important;
}


@media (max-width: 1199px) {
    .bottom-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .menuIcon{
        color: white;
    }

    .menuIconClicked{
        color: #3e3361;
    }

    .leftCol {
        display: none;
    }

    .rightCol{
        width: 100% !important;
    }

    .menuAvatar{
        display: none;
    }

    .statsCol{
        height: 90% !important;
    }

    .container-fluid{
        margin-bottom: 620px !important;
    }
}