@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}


.h1Title{
    font-weight: 600;
    text-align: center;
}
.h1TitleDescription{
    text-align: center;
}

.mainSearch {
    background-color: white;
    height: 250px;
    width: 900px;
    border-radius: 30px;
    box-shadow: 0px 5px 16px -6px rgba(66, 68, 90, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSearchInputs{
    text-align: center;
    width: 90%;
}

.violetButtons, .modalSave{
    background-color: #400DD0 !important;
    color: white !important;
    border-radius: 20px !important;
    width: 200px;
    height: 45px;
}

.modalSave{
    width: 80px;
}

.modalExit{
    border-radius: 20px !important;
    background-color: rgb(129, 129, 129) !important;
    color: white !important;
    height: 45px;
}

.filtryZaawansowane{
    color: #400DD0 !important;
}

.form-check-input:checked{
    background-color: #400DD0 !important;
    border-width: 0px;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.0001) !important;
}

.kategoriaGroup{
    font-size: 20px;
    margin-bottom: 40px;
}

.custom-modal .modal-content {
    background: transparent; /* Kolor tła modalu z przezroczystością */
    backdrop-filter: blur(30px); /* Rozmycie tła */
    -webkit-backdrop-filter: blur(5px); /* Dla przeglądarek bazujących na silniku WebKit (np. Safari) */
    border-radius: 30px;
  }
  

.modal-body {
    max-height: 500px; /* Maksymalna wysokość do przewijania */
    overflow-y: auto;   /* Włącz przewijanie pionowe, gdy zawartość jest dłuższa niż okno modalu */
}

.offerBox{
    width: 400px;
    height: 250px;
    background-color: White;
    box-shadow: 0px 0px 18px 1px rgba(66, 68, 90, 1);
    border-radius: 30px;
}

.boxTitle {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.boxMiddle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.boxDescription {
    margin-left: 30px;
    max-width: 300px;
}

.boxContent {
    display: flex;
    align-items: center;
}

.boxImage {
    max-width: 100%; /* Obraz nie wyjdzie poza div */
    max-height: 100%; /* Obraz nie wyjdzie poza div */
}

.testcol{
    word-wrap: break-word;
    margin-left: 30px;
    margin-top: 10px !important;
}

.testt{
    word-wrap: break-word;
    max-width: 200px;
}

.testcol2{
    margin-left: 30px;
    word-wrap: break-word;
    margin-top: 30px !important;
}

.testcol3{
    margin-left: 45px !important;
    margin-top: 30px !important; 
    height: 95px;
}

.testcol4{
    margin-left: 30px;
    margin-top: 30px !important;
}

.boxImageplace {
    background-color: #400DD0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px; /* Stała szerokość boxImageplace */
    height: 110px; 
    margin-left: 20px;
    margin-right: 20px;
}



@media (max-width: 576px) {
    .mainSearch {
      height: 450px;
    }
    #stanowiskoInput,#kategoriaInput,#lokalizacjaInput,#odlegloscInput,.filtryZaawansowane{
        margin-bottom: 10px;
    }
  }
