@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    font-family: 'Inter', sans-serif;
    color: #29375a;
}

body{
    background: url(../imgs/UI/login_background.jpg)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

input{
    background-color: #dfdfdf !important;
    border: 1px solid rgb(209, 209, 209) !important;
    box-shadow: 0px 0px 23px -18px rgba(125, 125, 125, 1) !important;
}

.form-floating>input+label:after {
    background: transparent !important;
}

.floatingLabelForm{
    margin-left: 18px;
}
  

.boxForm{
    margin-top: 30px;
}

.violetButton{
    background-color: #400DD0 !important;
    color: white !important;
    width: 220px;
    height: 50px;
}

.violetMark{
    color: #400DD0;
    font-weight: 500;
    text-decoration: none;
}

.wrongData{
    margin-top: 30px;
    margin-bottom: -10px;
    color: #c02f2f;

}

.wrongData .bi{
    color: #c02f2f;
}

.loginDiv {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 25px;
    width: 500px;
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease;
  }

  .forms {
    display: flex;
    transition: transform 0.5s ease;
    width: 200%;
    transform: translateX(0);
  }

  .loginView {
    transform: translateX(0);
  }

  .signupView {
    transform: translateX(100%);
  }


  .tabs {
    display: flex;
    position: relative;
  }

  .tab {
    flex: 1;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .tab.active {
    font-weight: 800 !important;
    color: #400DD0;
  }

  .loginSelectBar {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 4px;
    background: #400DD0;
    transition: transform 0.3s ease;
  }

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-15px);
    }
    50% {
      transform: translateX(15px);
    }
  }

  .shake-text {
    animation: shake 0.5s;
  }